<footer class="footer">
  <small>
    Social_UG by Kamil Bystroń Paweł Grajczyk Jan Kozłowski
  </small>
  <nav>
    <ul>
      <li><%= link_to "O nas",   about_path %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
    </ul>
  </nav>
</footer>
